
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.appContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container{
    width: 400px;
    height: 400px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.container div{
    border: solid 1px black;
    width: 33%;
    height: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simbolo {
    font-size: 150px;
}

.cuadrado {
    background-color: green;
    opacity: 0.6;
}
